<footer class="footer">
  <div class="footer__logo">
    <img src="#" alt="CocaCola">
  </div>
  <div class="footer__menu">
    <ul>
      <li>
        <h4>SHOP</h4>
        <ul>
          <li><a href="#">Terms &amp; Conditions</a></li>
          <li><a href="#">Coolie Policy</a></li>
          <li><a href="#">Privacy</a></li>
        </ul>
      </li>
      <li>
        <h4>SUPPORT</h4>
        <ul>
          <li><a href="#">Payment &amp; Delivery</a></li>
          <li><a href="#">Ingredients</a></li>
        </ul>
      </li>
      <li>
        <h4>LEGAL</h4>
        <ul>
          <li><a href="#">FAQ</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </li>
      <li>
        <h4>SOCIAL</h4>
        <ul>
          <li>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
            <a href="#"><i></i></a>
          </li>
        </ul>
      </li>
    </ul>
  </div>
</footer>
