<div class="products">
  <h2 class="products__title">Favorite Coke Products</h2>
  <ul class="products__types">
    <li><a href="#">Home &amp; Decor</a></li>
    <li class="is-active"><a href="#">Accessorize &amp;Clothing</a></li>
    <li><a href="#">Serving</a></li>
    <li><a href="#">Limited online sales</a></li>
  </ul>
  <div class="products__container">
    <a href="#" class="products__item">
      <img src="img/product.png" alt="" class="products__img">
      <p class="products__name">2 lines for<br />Product name</p>
      <span class="products__price">$5.00</span>
    </a>
    <a href="#" class="products__item">
      <img src="img/product.png" alt="" class="products__img">
      <p class="products__name">2 lines for<br />Product name</p>
      <span class="products__price">$5.00</span>
    </a>
    <a href="#" class="products__item">
      <img src="img/product.png" alt="" class="products__img">
      <p class="products__name">2 lines for<br />Product name</p>
      <span class="products__price">$5.00</span>
    </a>
    <a href="#" class="products__item">
      <img src="img/product.png" alt="" class="products__img">
      <p class="products__name">2 lines for<br />Product name</p>
      <span class="products__price">$5.00</span>
    </a>
    <a href="#" class="products__item">
      <img src="img/product.png" alt="" class="products__img">
      <p class="products__name">2 lines for<br />Product name</p>
      <span class="products__price">$5.00</span>
    </a>
  </div>
  <div class="products__prev"></div>
  <div class="products__next"></div>
</div>
